@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

.page-enter-active,
.page-leave-active {
  transition: opacity .3s ease-in;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.hero.is-image {
  background-position: center center;
  background-size: cover;
  position: relative;
}

.hero.is-image .hero-body {
  z-index: 1000;
}

.hero.is-image.is-dark:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.menu-item .text {
  display: flex;
  flex-direction: column;
}

.menu-item .description {
  font-style: italic;
  font-size: .8em;
}